<template>
  <div id="app">
    <Navbar />
    <div class="container">
      <router-view/>
    </div>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar';

export default {
  name: 'app',
  components: {
    Navbar,
  },
};
</script>

<style>
  /* .App {} */
  .button_add-new:hover {}
  .button_add-new:focus {
    transform: scale(1.2);
  }
  .button_add-new:hover {
    background-color: #b00 !important;
  }
</style>
