<template>
  <div id="Dashboard" class="Dashboard">
    <div class="fixed-action-btn">
      <router-link to="/new" class="btn-floating button button_add-new btn-large red">
        <i class="material-icons">add</i>
      </router-link>
    </div>

    <ul class="collection with-header">
      <li class="collection-header">Dashboard</li>
      <li v-for="item in employees" v-bind:key="item.id" class="collection-item">
        <div class="chip">{{item.department}}</div>
        <span>{{item.empl_Id}}: {{item.name}}</span>
        <router-link class="secondary-content link link_details" 
          v-bind:to="{name:'employee', params:{empl_Id:item.empl_Id}}">
          <i class="material-icons">remove_red_eye</i>
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import db from '@/firebaseInit';

export default {
  name: 'Dashboard',
  data() {
    return {
      employees: [],
    };
  },
  created() {
    db.collection('employees').orderBy('empl_Id').get()
    .then((querySnapshot) => {
      this.employees = querySnapshot.docs.map(doc => ({ id: doc.id, ...doc.data() }));
    })
    .catch((err) => {
      console.error('ERROR:', err);
    });
  },
};
</script>

<style>
  /* .Dashboard {} */
  .link.link_details {
    position: relative;
    line-height: 10px;
    padding-top: 1px;
    top: 5px;
  }
</style>
