<template>
  <div id="EditEmployee" class="EditEmployee">
    <h3>Edit Employee</h3>
    
    <form v-if="employee" @submit.prevent="onSubmitUpdateEmployee()" class="row">
      <div class="col s12 input-field">
        <label v-if="!employee.empl_Id.length" for="new_emp_ID">Employee ID:</label>
        <input v-model="employee.empl_Id" type="text" id="new_emp_ID" class="validate" required />
      </div>
      <div class="col s12 input-field">
        <label v-if="!employee.name.length" for="new_emp_Name">Employee Name:</label>
        <input v-model="employee.name" type="text" id="new_emp_Name" class="validate" required />
      </div>
      <div class="col s12 input-field">
        <label v-if="!employee.department.length" for="new_emp_Department">Employee Department:</label>
        <input v-model="employee.department" type="text" id="new_emp_Department" class="validate" required />
      </div>
      <div class="col s12 input-field">
        <label v-if="!employee.position.length" for="new_emp_Position">Employee Position:</label>
        <input v-model="employee.position" type="text" id="new_emp_Position" class="validate" required />
      </div>
      <div class="col s12 input-field">
        <label v-if="!employee.responsibility.length" for="new_emp_Responsibility">Employee Responsibility:</label>
        <input v-model="employee.responsibility" type="text" id="new_emp_Responsibility" class="validate" required />
      </div>
      <div class="col s12 input-field">
        <button @click.prevent="onReset()" class="btn grey">Reset</button>
        <button type="submit" class="btn red">Update</button>
      </div>
    </form>
   
  </div>
</template>

<script>
import db from '@/firebaseInit';

export default {
  name: 'EditEmployee',
  data() {
    return {
      employee: null,
    };
  },
  created() {},
  beforeRouteEnter(to, from, next) {
    db.collection('employees').where('empl_Id', '==', to.params.empl_Id).get()
    .then((res) => {
      next((vm) => {
        vm.employee = res.docs.map(v => ({ id: v.id, ...v.data() }))[0];
      });
    })
    .catch((err) => {
      console.error('ERROR:', err);
    });
  },
  whatch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      this.employee = null;
      db.collection('employees').where('empl_Id', '==', this.$route.params.empl_Id).get()
      .then((res) => {
        this.employee = res.docs.map(v => ({ id: v.id, ...v.data() }))[0];
      })
      .catch((err) => {
        console.error('ERROR:', err);
      });
    },
    onReset() {},
    onSubmitUpdateEmployee() {
      db.collection('employees').where('empl_Id', '==', this.$route.params.empl_Id).get()
      .then((res) => {
        res.docs.forEach((v) => {
          v.ref.update({ ...this.employee });
        });
        this.$router.push({ name: 'employee', params: { empl_Id: this.employee.empl_Id }});
      })
      .catch((err) => {
        console.error('ERROR:', err);
      });
    },
  },
};
</script>

<style>
  /* .EditEmployee {} */
</style>
