<template>
  <div id="Employee" class="Employee">
    <ul v-if="employee" class="collection with-header">
      <li class="collection-header"><h5>Employee details:</h5></li>
      <li class="collection-item"><b>ID:</b> {{employee.empl_Id}}</li>
      <li class="collection-item"><b>Name:</b> {{employee.name}}</li>
      <li class="collection-item"><b>Department:</b> {{employee.department}}</li>
      <li class="collection-item"><b>Position:</b> {{employee.position}}</li>
      <li class="collection-item"><b>Responsibility:</b> {{employee.responsibility}}</li>
    </ul>
    <router-link to="/" class="btn grey">Back</router-link>
    <button @click="deleteEmploye()" class="btn red">Delete</button>
  
    <div v-if="employee" class="fixed-action-btn">
      <router-link class="btn-floating button button_add-new btn-large red" 
        v-bind:to="{name:'edit-employee', params:{empl_Id:employee.empl_Id}}">
        <i class="material-icons">mode_edit</i>
      </router-link>
    </div>

  </div>
</template>


<script>
import db from '@/firebaseInit';

export default {
  name: 'Employee',
  data() {
    return {
      employee: null,
    };
  },
  created() {},
  beforeRouteEnter(to, from, next) {
    db.collection('employees').where('empl_Id', '==', to.params.empl_Id).get()
    .then((res) => {
      next((vm) => {
        vm.employee = res.docs.map(v => ({ id: v.id, ...v.data() }))[0];
      });
    })
    .catch((err) => {
      console.error('ERROR:', err);
    });
  },
  whatch: {
    $route: 'fetchData',
  },
  methods: {
    fetchData() {
      db.collection('employees').where('empl_Id', '==', this.$route.params.empl_Id).get()
      .then((res) => {
        this.employee = res.docs.map(v => ({ id: v.id, ...v.data() }))[0];
      })
      .catch((err) => {
        console.error('ERROR:', err);
      });
    },
    deleteEmploye() {
      if (confirm('Are you sure?')) {
        db.collection('employees').where('empl_Id', '==', this.$route.params.empl_Id).get()
        .then((res) => {
          res.docs.forEach((v) => {
            v.ref.delete();
          });
          this.$router.push('/');
        })
        .catch((err) => {
          console.error('ERROR:', err);
        });
      }
    },
  },
};
</script>


<style>
  /* .Employee {} */
</style>
