<template>
  <nav id="Navbar" class="Navbar">
    <div class="nav-wrap green">
      <div class="container">
        <router-link to="/">Home</router-link>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'Navbar',
    data() {
      return {
        // ...
      };
    },
  };
</script>

<style>
  /* .Navbar {} */
</style>
