<template>
  <div id="NewEmployee" class="NewEmployee">
    <h3>New Employee</h3>
    <form @submit.prevent="onSubmitNewEmployee()" class="row">
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <label for="new_emp_ID">Employee ID:</label>
        <input v-model="employee.empl_Id" type="text" id="new_emp_ID" class="validate" required />
      </div>
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <label for="new_emp_Name">Employee Name:</label>
        <input v-model="employee.name" type="text" id="new_emp_Name" class="validate" required />
      </div>
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <label for="new_emp_Department">Employee Department:</label>
        <input v-model="employee.department" type="text" id="new_emp_Department" class="validate" required />
      </div>
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <label for="new_emp_Position">Employee Position:</label>
        <input v-model="employee.position" type="text" id="new_emp_Position" class="validate" required />
      </div>
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <label for="new_emp_Responsibility">Employee Responsibility:</label>
        <input v-model="employee.responsibility" type="text" id="new_emp_Responsibility" class="validate" required />
      </div>
      <!-- ------------------------ -->
      <div class="col s12 input-field">
        <button @click.prevent="onClear()" class="btn grey">Clear</button>
        <button type="submit" class="btn red">Confirm</button>
      </div>
      <!-- ------------------------ -->
    </form>
  </div>
</template>

<script>
import db from '@/firebaseInit';

export default {
  name: 'NewEmployee',
  data() {
    return {
      employee: {
        empl_Id: '',
        name: '',
        department: '',
        position: '',
        responsibility: '',
      },
    };
  },
  methods: {
    onSubmitNewEmployee() {
      db.collection('employees').add({ ...this.employee })
      .then((res) => {
        console.log('SUCCESS:', res);
        this.onClear();
        this.$router.push('/');
      })
      .catch((err) => {
        console.error('ERROR:', err);
      });
    },
    onClear() {
      this.employee = {
        empl_Id: '',
        name: '',
        department: '',
        position: '',
        responsibility: '',
      };
    },
  },
};
</script>

<style>
  /* .NewEmployee {} */
</style>
